{% extends "common/layout-home.html" %}
{% block homeBanner %}
	<div class="banner_box">
		<div class="banner_inner">
			<h2 class="slogan">汇聚天下英才</h2>
			<p class="des">iKcamp是由沪江Web前端团队发起的自由组织<br>我们追随JavaScript这门语言所秉持的精神，为ITer提供完善的在线学习平台和知识体系</p>
			<a href="/login" title="gogogo" class="btn" id="gogogo">进入战场</a>
			<a href="/userlist" title="gogogo" class="btn" style="margin-top: 10px;">查看注册用户</a>
		</div>
	</div>
{% endblock %}
{% block content %}
	<div class="hp-dialog">
		<div class="hp-box">
			<form action="/user/login" method="post">
				<h1>到达战场</h1>
				<p class="error">{{content}}</p>
				<label>
					<input type="text" name="nickname" placeholder="请输入用户名" />
				</label>
				<label>
					<input type="password" name="password" placeholder="请输入密码" />
        </label>
				<button type="submit" class="blue">登录</button>
				<a class="btn" style="width: 100%; margin-top: 5px; background: green;" href="/user/regist" title="regist">去注册</a>
			</form>
		</div>
	</div>
	<div class="hp-overlay"></div>
{% endblock %}
